.MainSection{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: transparent linear-gradient(180deg, #fc7e6b 0%, #ef5281 100%) 0%
0% no-repeat padding-box;
}
.Verification-Text{
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}
.IconCheck{
    font-size: 5em;
    margin-bottom: 20px;
    color: #0f4d5c;
}
.BtnHome {
    background: #0f4d5c 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: white;
    padding: 10px;
    border: none;
    width: 30%;
  }