<body>
  <div class="container">
    <div class="row pt-4 signupcard">
      <div class="col-md-8 gridEight">
        <h3 class="ps-5" style="color: #0f4d5c">PROFESSIONAL DETAILS</h3>
        <div class="row mt-4 ps-5 pe-5">
          <div class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Profession
            </label>
            <select class="form-select rounded-pill" aria-label="Default select example" name="Profession"
              (change)="eventonKey($event)" [(ngModel)]="ProfessionSelect"
              [value]="ProfessionSelect != null ? ProfessionSelect : ''">
              <option selected>Select Profession</option>
              <option *ngFor="let Profession of ['Doctor', 'Allied Health', 'Other']" value="{{ Profession }}">
                {{ Profession }}
              </option>
            </select>
          </div>
          <div *ngIf="ProfessionSelect == 'Doctor'" class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Job Status</label>
            <select class="form-select rounded-pill" aria-label="Default select example" name="JobStatus"
              (change)="eventonKey($event)" [(ngModel)]="StatusSelect"
              [value]="StatusSelect != null ? StatusSelect : ''">
              <option selected>Select Job Status</option>
              <option *ngFor="
                  let status of [
                    'Specialist',
                    'PG Trainee',
                    'General Practitioner',
                    'MBBS Student',
                    'PG Exam Candidate',
                    'House Officer'
                  ]
                " value="{{ status }}">
                {{ status }}
              </option>
            </select>
          </div>

          <div *ngIf="ProfessionSelect == 'Allied Health'" class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Job Status</label>
            <select class="form-select rounded-pill" aria-label="Default select example" name="AlliedJobStatus"
              (change)="eventonKey($event)" [value]="AlliedJobStatus != null ? AlliedJobStatus : ''">
              <option selected>Select Job Status</option>
              <option *ngFor="
                  let status of [
                    'Physiotherapist',
                    'Nurse',
                    'Optemetrist',
                    'Nutritionist',
                    'Psycologist',
                    'Pharmacist',
                    'Health Technician'
                  ]
                " value="{{ status }}">
                {{ status }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-4 ps-5 pe-5">
          <div class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Workplace
            </label>
            <input type="text" class="form-control rounded-pill" aria-label="Religious"
              aria-describedby="addon-wrapping" placeholder="ex: NextBridge" name="Workplace"
              [value]="Workplace != null ? Workplace : ''" (change)="eventonKey($event)" />
          </div>
          <div *ngIf="StatusSelect == 'Specialist' || StatusSelect == 'PG Trainee'" class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Specialties
            </label>
            <select class="form-select rounded-pill" aria-label="Default select example" name="Qualification"
              [value]="Qualification != null ? Qualification : ''" (change)="eventonKey($event)">
              <option selected>Select Specialty</option>
              <option *ngFor="let Specialty of qualifications" value="{{ Specialty }}">
                {{ Specialty }}
              </option>
            </select>
          </div>
          <div *ngIf="ProfessionSelect == 'Other'" class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Qualifications
            </label>
            <input type="text" class="form-control rounded-pill" aria-label="Religious"
              aria-describedby="addon-wrapping" placeholder="ex: BSCS , BBA" name="OtherInfo"
              (keyup)="eventonKey($event)" [value]="OtherInfo != null ? OtherInfo : ''" />
          </div>
        </div>

        <div class="row mt-4 ps-5 pe-5">
          <div class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Institution
            </label>
            <input type="text" class="form-control rounded-pill" aria-label="Religious"
              aria-describedby="addon-wrapping" placeholder="ex: Punjab University" name="Institution"
              (keyup)="eventonKey($event)" [value]="Institution != null ? Institution : ''" />
          </div>
          <div class="col-md-6">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Monthly Income
            </label>
            <select class="form-select rounded-pill" aria-label="Default select example" name="Income"
              (change)="eventonKey($event)" [value]="Income != null ? Income : ''">
              <option selected>Select Income</option>
              <option *ngFor="
                  let income of [
                    '50k',
                    '100k',
                    '150k',
                    '200k',
                    '300k',
                    '400k',
                    '500k'
                  ]
                " value="{{ income }}">
                Upto {{ income }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-4 ps-5 pe-5">
          <div class="col-md-12">
            <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
              Any other professional info
            </label>
            <input type="text" class="form-control rounded-pill" aria-label="Religious"
              aria-describedby="addon-wrapping" placeholder="ex: I have side businesses" name="AnyotherInfo"
              (keyup)="eventonKey($event)" [value]="AnyotherInfo != null ? AnyotherInfo : ''" />
          </div>
        </div>
        <div class="row mt-5 ps-5 pe-5">
          <div class="col-md-6">
            <button type="button" class="btnNext" (click)="gotoSignupFourthPage()">
              Previous
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btnNext" (click)="gotoSignupSeventhPage()">
              Next Step
            </button>
          </div>
        </div>
        <div></div>
      </div>
      <div class="col-md-4 gridFour d-flex flex-column justify-content-evenly">
        <span class="stepNxt"> 1 </span>
        <button style="background-color: #91a8ad" type="button" class="btnOne ms-5 me-5">
          BASIC DETAILS
        </button>
        <span class="stepNxt"> 2 </span>
        <button style="background-color: #91a8ad" type="button" class="btnTwo ms-5 me-5">
          PERSONAL DETAILS
        </button>
        <span class="stepNxt"> 3 </span>
        <button style="background-color: #91a8ad" type="button" class="btnThree ms-5 me-5">
          MORE PERSONAL DETAILS
        </button>
        <span class="stepNxt"> 4 </span>
        <button style="background-color: #91a8ad" type="button" class="btnFour ms-5 me-5">
          RESIDENTIAL DETAILS
        </button>
        <span class="step"> 5 </span>
        <button style="background-color: #ffffff" type="button" class="btnFive ms-5 me-5">
          PROFESSIONAL DETAILS
        </button>
        <span class="stepNxt"> 6 </span>
        <button style="background-color: #91a8ad" type="button" class="btnSix ms-5 me-5">
          FAMILY DETAILS
        </button>
        <span class="stepNxt"> 7 </span>
        <button style="background-color: #91a8ad" type="button" class="btnSeven ms-5 me-5">
          CONTACT DETAILS
        </button>
      </div>
    </div>
  </div>
</body>