<div style="font-family: 'Poppins';">
    <!--  NAVBAR--> 
    <nav class="navbar navbar-expand-lg bgColor p-4">
        <div class="container">
            <a class="navbar-brand text-white fs-4">CONTACT US</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="nav resnav">
                    <li class="nav-item" style="cursor: pointer;">
                        <div class="fs-4 me-5 text-white">
                            <i class="fa-solid fa-user text-white me-2"></i>
                            Interests
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="btnEdit" type="button">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            LOG OUT
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

       

    <div class="about">
        <div class="main-card">
            <h3 class="text-center">Contact Us</h3>
            <hr>
            <h1>Contact Us</h1>
            <hr>
            <div class="part">
            <h3 class="short-heading">Telephone Support</h3>
            <hr>
            <p style="padding: 8px ;">To speak to a member of our team about your profile, or to upgrade your membership, please contact us using one of the numbers below. Please have your <b>Single Muslim username</b> to hand.
                <br>
                <br>
                <b>WhatsApp</b>  <a href="" class="text-decoration-none m-2">{{ contacts.contact }}</a>
                <br>
                <br>
                <b>Telephone</b>  <a href="" class="text-decoration-none m-2"> {{contacts.Telephone}}</a>
                <br>
                (Monday - Friday, 9am - 5pm GMT)
                <br>
                <br>
                Calls are charged at local rate. Charges from mobile and other network providers may vary.</p><br>
            </div>

            
            <div class="part">
            <h3 class="short-heading">Email</h3>
            <hr>
            <p style="padding: 8px ;"><span>{{contacts.paragraph}}</span> 
                <br>
                <br>
                <b> Customer Care</b>: <a class="text-decoration-none">customercare@singlemuslim.com</a>
                <br>
                <br>
                <b> Pakistan Customer Care</b> : <a href="" class="text-decoration-none">pk@singlemuslim.com</a>
                <br>
                <br>
                <b>Technical Support</b>: <a href="" class="text-decoration-none"> support@singlemuslim.com </a>
                <br>
                <br>
                <b>Bug Reports</b>: <a href="" class="text-decoration-none"> Please click here to report a bug </a>
                <br>
                <br>
                <b>Success Stories</b>: <a href="" class="text-decoration-none">success@singlemuslim.com</a>
                <br>
                <br>
                <b>Press Enquiries</b>: <a href="" class="text-decoration-none"> pr@singlemuslim.com</a></p><br>
            </div>
        </div>
    </div>

</div>