<body>
  <div class="container">
    <div class="row pt-4 signupcard">
      <div class="col-md-8 gridEight">
        <form (submit)="gotoSignupSecondPage()" name="BasicDetails">
          <h3 class="ps-5" style="color: #0f4d5c">BASIC DETAILS</h3>
          <div class="row mt-4 ps-5 pe-5">
            <div class="col-md-12">
           
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                
                Profile created for <span style="color: red; font-weight: bolder;">*</span></label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="ProfileCreatedFor"
                [value]="
                  ProfileCreatedFor != undefined ? ProfileCreatedFor : ''
                " (change)="eventonKey($event)" required>
                <option value="" selected>Choose Option</option>
                <option>Myself</option>
                <option>Daughter</option>
                <option>Son</option>
              </select>
            </div>
          </div>
          <div class="row mt-4 ps-5 pe-5">
            <div class="col-md-12">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Candidate is <span style="color: red; font-weight: bolder;">*</span>
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="GenderSelected"
                (change)="eventonKey($event)" [value]="GenderSelected != null ? GenderSelected : ''" required>
                <option selected value="">Select Gender</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>

          <div class="row mt-5 ps-5 pe-5">
            <div class="col-md-12">
              <button type="submit" class="btnNext">SAVE & NEXT</button>
            </div>
          </div>
          <div></div>
        </form>
      </div>
      <div class="col-md-4 gridFour d-flex flex-column justify-content-evenly">
        <span class="stepNxt"> 1 </span>
        <button style="background-color: #91a8ad" type="button" class="btnTwo ms-5 me-5">
          CREATE ACCOUNT
        </button>
      <span class="step"> 2 </span>
      <button style="background-color: #ffffff" type="button" class="btnOne ms-5 me-5">
        BASIC DETAILS
      </button>
      <span class="stepNxt"> 3 </span>
      <button style="background-color: #91a8ad" type="button" class="btnTwo ms-5 me-5">
        PERSONAL DETAILS
      </button>
      <span class="stepNxt"> 4 </span>
      <button style="background-color: #91a8ad" type="button" class="btnThree ms-5 me-5">
        MORE PERSONAL DETAILS
      </button>
      <span class="stepNxt"> 5 </span>
      <button style="background-color: #91a8ad" type="button" class="btnFour ms-5 me-5">
        RESIDENTIAL DETAILS
      </button>
      <span class="stepNxt"> 6 </span>
      <button style="background-color: #91a8ad" type="button" class="btnFive ms-5 me-5">
        PROFESSIONAL DETAILS
      </button>
      <span class="stepNxt"> 7 </span>
      <button style="background-color: #91a8ad" type="button" class="btnSix ms-5 me-5">
        FAMILY DETAILS
      </button>
      <span class="stepNxt"> 8 </span>
      <button style="background-color: #91a8ad" type="button" class="btnSeven ms-5 me-5">
        CONTACT DETAILS
      </button>
    </div>
    </div>
  </div>
</body>