.loginimg {
    width: 100%;
    height: 550px;
    opacity: 0.7;
}
.boldtext{
    color: #0F4D5C;
    font-size: 26px;
    font-weight: 700;
}
.loginemail {
    padding: 30px 15px 10px;
}

.loginlabel {
    position: relative;
    display: block;
}

.passwordlabel {
    position: relative;
    left: 380px;
    top: 50px;
    opacity: 0.5;
}

.black-bg {
    background-color: rgb(0, 0, 0, 1);
}
.vertical-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-color{
    color: white;
    margin-right: 20px;
}

@media (max-width:992px) {
    .loginimg {
        display: none !important;
    }

    .black-bg {
        display: none !important;
    }
    .section-responsive{
        height: 100vh;
    }
    .sub-section-responsive{
        height: 90vh !important;
    }
}
/* .fa-facebook-f{
    color: #3B5998;
} */
.facebook-btn{
    background-color: #3B5998;
    color: white;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    width: 100%;
    font-weight: 500;
}
.google-btn{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
    background-color: white;
}
.fa-facebook-f{
    margin-right: 20px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
}
.facebook-btn:hover{
    transform: scale(1.1);
    transition: all 0.55s;
    background-color: #3B5998;
    color: white;
}
.google-btn:hover{
    transform: scale(1.1);
    transition: all 0.55s;
    background-color: white;

}
.email-btn{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
    background-color:black;
    color: white;
}
.email-btn:hover{
    transform: scale(1.1);
    transition: all 0.55s;
    background-color:black;
    color: white;

}
