
.sidenav {
    height: 100%;
    width: 20%;
    position: absolute  ;
    z-index: 1;
    left: 0;
    background-color:#f1f1f1;
    overflow-x: hidden;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}
.bgColor {
    background: linear-gradient(0deg, rgba(241, 88, 126, 1) 0%, rgba(249, 117, 112, 1) 100%);
  }
  
  .btnEdit {
    background-color: white !important;
    border: none;
    color: #0F4D5C;
    padding: 10px;
    width: 120px;
  }
.sidenav-img{
    width: 260px;
    height: 200px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
}  


.sidenav a:hover {
    background-color: #E2E2E2;
    color: #777777;
}

.about{
    background-color: pink;
    width: 80%;
    float: right;
    overflow: hidden;
    position: relative;

}
.main-card{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%);
    padding: 20px;
    margin: 5% auto;
    margin-bottom: 14px;
    background-color: #fff;
    border-radius: 3px;
    width: 96%;
    float: none;

    
}
h1{
    color:#007EA5 ;
    font-size: 24px;
    padding: 0 8px 10px 8px;
    
}
label{
    padding: 7px 8px;
    margin-bottom: 0;
    display: flex;
    text-align: right; 
    /* float: ; */
}
select{
    color: #444;
    padding-top: 7px;
}
.buttn{
    background-color: #007EA5 !important;
    float: right;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    /* .sidenav {
        padding: auto;
    } */
    .sidenav a {
        font-size: 18px;
    }
}
/* copy */
body {
    background: transparent linear-gradient(180deg, #fc7e6b 0%, #ef5281 100%) 0%
      0% no-repeat padding-box;
      /* height: 100vh; */
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      
  }
  .example::-webkit-scrollbar {
    display: none;
}
  .marginDev{
    /* margin: auto; */
    /* margin-left: 40px; */
    /* margin-right: 40px; */

    
  }
  .centerbtn{
    margin: auto;
  }

  .gridEight {
    border-radius: 12px;
    margin-bottom: 20px;
    background: #faedf1 0% 0% no-repeat padding-box;
    /* padding-top: 30px; */
    padding-bottom: 30px;
  }
  .signupcard{
    height: 95vh;
  }
  .sltEdit {
    border: 1px solid white;
    border-radius: 50px;
    width: 200px;
  }
  
  .btnNext {
    background: #0f4d5c 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .btnPrevious {
    border-radius: 4px;
    color: white;
    padding: 10px;
    width: 100%;
    background: #62939f 0% 0% no-repeat padding-box;
    border: none;
  }
  
  .dobText {
    margin-top: 31px;
  }
  
  .gridFour {
    background: transparent linear-gradient(180deg, #0f4d5c 0%, #030f12 100%) 0%
      0% no-repeat padding-box;
  }
  
  .btnOne {
    /* background: #ffffff 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnTwo {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnThree {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnFour {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnFive {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnSix {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  .btnSeven {
    /* background: #91A8AD 0% 0% no-repeat padding-box; */
    color: #0f4d5c;
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .gridFour {
      visibility: hidden;
    }
    .btnNext {
      margin-top: 20px;
    }
  }
  
  .step {
    background: transparent linear-gradient(180deg, #fc7e6b 0%, #ef5281 100%) 0%
      0% no-repeat padding-box;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    margin-left: -25px;
    margin-bottom: -75px;
  }
  
  .stepNxt {
    background: #FFF0F5 0% 0% no-repeat padding-box;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: black;
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    margin-left: -25px;
    margin-bottom: -75px;
    border: 1px solid black;
  }
  @media (max-width: 576px){
    .signupcard{
      padding: 10px;
      overflow: hidden;
    }
    .gridEight{
      height: 92vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding-left: 0;
      padding-right: 0;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }
  @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
}
}
.pe-5 {
  padding-right: 8rem!important;
}