<body>
  <div class="container">
    <div class="row pt-4 signupcard">
      <div class="col-md-8 gridEight">
        <form (submit)="gotoSignupThirdPage()">
          <h3 class="ps-5" style="color: #0f4d5c">PERSONAL DETAILS</h3>
          <div class="row mt-4 ps-5 pe-5">
            <!-- <div class="col-md-6">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Name
              </label>

              <input type="text" class="form-control rounded-pill" aria-label="Name" name="name"
                [value]="name != null ? name : ''" aria-describedby="addon-wrapping" placeholder="ex: Ahmad Ali"
                (keyup)="eventonKey($event)" required="true" />
              <div class="form-check form-switch ms-2 mt-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                <label class="form-check-label" for="flexSwitchCheckDefault">Show Name on Profile</label>
              </div>
            </div> -->
            <div class="col-md-12">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Age
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="age"
                [value]="userage != undefined ? userage : ''" (change)="eventonKey($event)" required="true">
                <option selected value="">Select Age</option>
                <option *ngFor="
                    let age of [
                      18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
                      32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
                      46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60
                    ]
                  " value="{{ age }}">
                  {{ age }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-4 ps-5 pe-5">
            <div class="col-md-6">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Martial Status
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="MartialStatus"
                [value]="MartialStatusSelect != null ? MartialStatusSelect : ''" (change)="eventonKey($event)"
                required="true">
                <option selected value="">Select Status</option>
                <option *ngFor="let status of MartialStatus" value="{{ status.value }}">
                  {{ status.label }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Religious
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="Religious"
                [(ngModel)]="ReligiousSelect" [value]="ReligiousSelect != null ? ReligiousSelect : ''"
                (change)="eventonKey($event)" required="true">
                <option selected value="">Select Religious</option>
                <option *ngFor="let rel of Religious" value="{{ rel.name }}">
                  {{ rel.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mt-4 ps-5 pe-5">
            <div *ngIf="ReligiousSelect == 'Islam'" class="col-md-4">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Sect
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="sect"
               [value]="SectSelect != null ? SectSelect : ''" (change)="eventonKey($event)">
                <option selected>Select Sect</option>
                <option *ngFor="let sect of Sect" value="{{ sect.name }}">
                  {{ sect.name }}
                </option>
              </select>
            </div>
            <div *ngIf="ReligiousSelect == 'Other'" class="col-md-4">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Other Religion
              </label>
              <input type="text" class="form-control rounded-pill" aria-label="Age" aria-describedby="addon-wrapping"
              [(ngModel)]="OtherReligion" placeholder="ex: Buddhists" name="OtherReligion" [value]="OtherReligion != null ? OtherReligion : ''"
                (keyup)="eventonKey($event)" />
            </div>

            <div class="col-md-4">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Religious Status
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="religiousStatus"
                (change)="eventonKey($event)" [value]="
                  ReligiousStatusSelect != null ? ReligiousStatusSelect : ''
                " required="true">
                <option selected value="">Select Status</option>
                <option *ngFor="let status of ReligiosStatus" value="{{ status.value }}">
                  {{ status.label }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Caste
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="Caste"
                [value]="CasteSelect != null ? CasteSelect : ''" (change)="eventonKey($event)">
                <option selected>Select Caste</option>
                <option *ngFor="let caste of castes" value="{{ caste.name }}">
                  {{ caste.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mt-4 ps-5 pe-5">
            <div class="col-md-6">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Clan
              </label>
              <input type="text" class="form-control rounded-pill" aria-label="Age" aria-describedby="addon-wrapping"
                placeholder="ex: Arain" name="Clan" [value]="Clan != null ? Clan : ''" (keyup)="eventonKey($event)" />
            </div>
            <div class="col-md-6">
              <label for="formGroupExampleInput" class="form-label" style="color: #0f4d5c">
                Mother Tongue
              </label>
              <select class="form-select rounded-pill" aria-label="Default select example" name="MotherTongue"
                [value]="MotherTongueSelect != null ? MotherTongueSelect : ''" (change)="eventonKey($event)"
                required="true">
                <option selected value="">Select Mother Tongue</option>
                <option *ngFor="let tongue of MotherTongue" value="{{ tongue.name }}">
                  {{ tongue.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row mt-5 ps-5 pe-5">
            <div class="col-md-12">
              <button type="submit" class="btnNext">SAVE & NEXT</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 gridFour d-flex flex-column justify-content-evenly">
        <span class="stepNxt"> 1 </span>
        <button style="background-color: #91a8ad" type="button" class="btnTwo ms-5 me-5">
            CREATE ACCOUNT
        </button>
        <span class="stepNxt"> 2 </span>
        <button style="background-color: #91a8ad" type="button" class="btnTwo ms-5 me-5">
            BASIC DETAILS
        </button>
        <span class="step"> 3 </span>
        <button style="background-color: #ffffff" type="button" class="btnOne ms-5 me-5">
            PERSONAL DETAILS
        </button>
        <span class="stepNxt"> 4 </span>
        <button style="background-color: #91a8ad" type="button" class="btnThree ms-5 me-5">
            MORE PERSONAL DETAILS
        </button>
        <span class="stepNxt"> 5 </span>
        <button style="background-color: #91a8ad" type="button" class="btnFour ms-5 me-5">
            RESIDENTIAL DETAILS
        </button>
        <span class="stepNxt"> 6 </span>
        <button style="background-color: #91a8ad" type="button" class="btnFive ms-5 me-5">
            PROFESSIONAL DETAILS
        </button>
        <span class="stepNxt"> 7 </span>
        <button style="background-color: #91a8ad" type="button" class="btnSix ms-5 me-5">
            FAMILY DETAILS
        </button>
        <span class="stepNxt"> 8 </span>
        <button style="background-color: #91a8ad" type="button" class="btnSeven ms-5 me-5">
            CONTACT DETAILS
        </button>
    </div>
    </div>
  </div>
</body>