<div class="profileBgColor">
    <nav class="navbar navbar-expand-lg navbar-dark bgcolor p-3">
        <div class="container">
            <a class="navbar-brand">
                Profile
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-md-auto gap-2">
                    <li class="nav-item rounded">
                        <a class="nav-link" aria-current="page">
                            <i class="bi bi-house-fill me-2"></i>HOME
                        </a>
                    </li>

                    <li class="nav-item rounded">
                        <a class="nav-link">
                            LOGIN
                        </a>
                    </li>
                    <li class="nav-item rounded">
                        <a class="nav-link">
                            REGISTER
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="overflowcontainer text-center mt-5">
        <div class="row" style="margin-left: 20px; margin-right: 20px">
            <div class="col-md-3 padding-zero">
                <div>

                    <!-- <p *ngIf="profilepic"> <img [src]="imageUrl" class="OnMobileAvatar" /></p>
                    <p *ngIf="!profilepic"><img [src]="imageUrl"class="OnMobileAvatar" /></p> -->
                    <div class="" *ngIf="imageUrl;else img" style="position: relative;">
                        <img [src]='imageUrl' class="OnWebAvatar OnMobileAvatar shadowbox" />
                        <!-- <div style="position: absolute; bottom: -4%; left: 30%;" class="Iconres">
                            <i class="fa-regular fa-heart" style="color: #ed450c; font-size: 60px;" (click)="OnFavClick()"></i>
                            <img src={{pathmessage}} (click)="gotoChat()" alt="Girl in a jacket" width="60"
                                height="60" />
                            <img src={{pathheart}} (click)="OnFavClick()" alt="Girl in a jacket" width="60"
                                height="50" />
                        </div> -->
                        <!-- <img src={{pathright}} alt="Girl in a jacket" width="50" height="60" /> -->
                    </div>
                    <ng-template #img>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" width="302px"
                            height="150px">
                    </ng-template>
                </div>

                <!-- <div class="row mt-2 resImgHide">
                    <div class="col-4 ">
                        <img *ngFor='let url of gallary' [src]='url' alt="You have No Profile" height="100px" width="100px">
                    </div>
                </div> -->
                <!-- <ngb-carousel *ngIf="gallary; else galleryImg">
                    <ng-template ngbSlide *ngFor="let image of gallary;">
                        <div class="carouselres">
                            <img [src]='image.image' alt="Random first slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
                <ng-template #galleryImg>
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEQPp2A-sJfaIat177Mus3XzVsNqsNiu7ysw&usqp=CAU">
                </ng-template> -->
                <div class="BtnRes">
                    <button type="button" class="btnRqt mb-3 mt-3 shadowbox" (click)="gotoSubscribe()">
                        <i class="fa-sharp fa-solid fa-comments" style="color: #ffffff; margin-right:5px;"></i> Send Message
                    </button>
                    <button type="button" class="btnRqt mb-3 shadowbox" (click)="gotoChat()">
                        <i class="fa-solid fa-thumbs-up" style="color: #ffffff; margin-right:5px;"></i>Send Interest
                    </button>
                    <button type="button" class="btnRqt mb-3 shadowbox" (click)="OnFavClick()">
                        <i class="fa-solid fa-heart" style="color: #ffffff; margin-right:5px;"></i>Add to Favorites
                    </button>
                    <button type="button" class="btnRqt mb-3 shadowbox" (click)="blockuser(profileDetails._id)">
                        <i class="fa-solid fa-ban" style="color: #ffffff; margin-right:5px;"></i>Block Profile
                    </button>
                    <button type="button" class="btnRqt shadowbox" (click)="openModal()">
                        <i class="fa-solid fa-triangle-exclamation" style="color: #ffffff; margin-right:5px;"></i>Report Profile
                    </button>
                </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header headerbackground">
                            <h4 class="modal-title">Report User</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control rounded-pill" aria-label="Name" name="name"
                                aria-describedby="addon-wrapping" placeholder="Enter Reason" required="true"
                                [(ngModel)]="reportMessage" /> <br>
                            <button type="button" class="btnRqt mb-3" (click)="reportUser()">
                                SUBMIT
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 padding-zero">
                <div class="bgRow shadowbox">
                    <div class="row ms-3 me-3">
                        <div class="col-12">
                            <h1 class="text-start resfont textshadow" style="font-weight: 600;">{{profileDetails.name}}</h1>
                        </div>
                        <!-- <div class="col-4">
                            <h5 class="text-end">{{profileDetails.country}}</h5>
                        </div> -->
                    </div>
                    <!-- <div class="row ms-3 me-3">
                        <div class="col-6">
                            <h3 class="text-start">{{profileDetails.professional}}</h3>
                        </div>
                        <div class="col-6 text-end">

                            <img class="text-end" src="https://bit.ly/3BbFu7p" alt="pakistan" width="80" height="40" />
                        </div>
                    </div> -->
                </div>


                <!-- <div class="text-start bg-white mt-2 p-3" *ngFor="let info of profileInfo">
                    <p style="color: #ED7E9E">{{info.title}}</p>
                    <hr class="underLine" />
                    <p>{{info.information}}</p>
                </div> -->
                <div class="card mt-3 mb-3 shadowbox">
                    <div class="row mt-3 ms-3 me-3 text-start card-inner">
                        <div class="col-md-12">
                            <p style="color: #ED7E9E; font-size: 1.5em; font-weight: 600;" class="ps-4 mt-4">Public Information</p>
                            <hr class="underLine" />
                            <div class="row pb-3">
                                <div class="col-md-6">
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Gender</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.gender}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Age</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.age}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Martial Status</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.status}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Religion</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.religious}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Religious Status</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.religiousStatus}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Caste</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.caste}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Sect</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.sect}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Clan</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.clan}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Mother Tongue</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.montherTonque}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Looks</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.looks}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Complexion</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.complexion}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Build</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.build}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Height</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.height}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Hobbies</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.hobbies}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Country</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.country}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Province</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.province}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">City</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.city}}</h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Any Other Nationality</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.nationality}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Future Plans to Live in</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.futurePlans}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Qualification</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.qualification}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Institution</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.institution}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">House Status</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.house}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Socioeconomic status</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.socialEconomic}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Monthly Income</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.income}}</h4>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Job Status</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.jobStatus}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Specialties</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.specialties}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Workplace</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.workplace}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Other Business Info</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.anotherqualification}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Father Occupation</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.fatherOccuption}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Mother Occupation</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.motherOccuption}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Brothers Count</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.siblingsCountBrothers}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Sisters Count</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.siblingsCountSisters}}</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 ps-5">
                                            <h4 class="ProfileHeadings">Other Family Info</h4>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="ProfileDetails">{{profileDetails.familyInfo}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="card mb-3 shadowbox">
                    <div class="row mt-3 ms-3 me-3 mb-5 text-start">
                        <div class="col-md-12 pb-3">
                            <p style="color: #ED7E9E; font-size: 1.5em; font-weight: 600;" class="ps-4 mt-4">Private Information</p>
                            <hr class="underLine" />
                            <div>
                                <h2 class="mt-5 mb-5 text-center" style="font-size: 1em; font-weight: bold;"><span><i
                                            class="fa-solid fa-crown me-2" style="color:gold
                                "></i></span>Upgrade to Premium Membership to Unlock Contact Details<span><button
                                            class="btnRqt ms-3" (click)="gotoSubscribe()">Show Premium
                                            Plans</button></span></h2>
                                <img src={{confidentialData}} width="100%" />
                            </div>
                            <div *ngIf="false">
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Email</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.email}}</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Personal Contact</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.personalContact}}</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Parent Contact</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.parentContact}}</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Facebook Account ID</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.socialLinkFb}}</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Instagram Account ID</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.socialLinkInsta}}</h4>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-6 ps-5">
                                        <h4 class="ProfileHeadings">Twitter Account ID</h4>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="ProfileDetails">{{profileDetails.socialLinkTwitter}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>